* {
  box-sizing: border-box;
  font-size: xx-large;
}
main {
  color: black;
  font-size: 100px;
  text-align: center;
  border: 5px;
  border-color: black;
  margin-bottom: 100px;
}

body {
  background-color: rgba(215, 50, 244, 0.747);
}
.tag_container {
  display: flex;
  flex-direction: row;
  color: rgb(255, 191, 252);
  flex-direction: row;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: space-around;
  align-self: flex-start;
  font-size: small;
  justify-content: baseline;
  margin-top: 0px;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
}

.question__card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: black;
  border-width: 5px;
  width: 1000px;
  bottom: 50px;
  margin: 15px;
  transition: 5s;
  background-color: rgb(255, 191, 252);
  height: 400px;
}
.question__card:hover {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 100px;
  background-color: hotpink;
  color: white;
}

h1 {
  color: rgb(147, 32, 255);
  text-align: center;
  font-family: "Gill Sans";
  font-size: 100px;
  top: 5px;
  transition: 6s;
}

.text_area {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: black;
  border-width: 5px;
  width: 500px;
  height: 200px;
  bottom: 50px;
  margin-top: 150px;
  transition: 5s;
  background-color: rgb(81, 49, 81);
  background: none;
  text-align: center;
}

label {
  display: block;
}

textarea {
  background-color: hotpink;
  border-width: 5px;
  border-color: yellowgreen;
}

.new-card-container {
  margin-top: 60px;
}

h1:hover {
  color: rgb(231, 205, 255);
  font-size: 110px;
  border: 1px solid;
  border-width: 5px;
  width: auto;
  background-color: rgb(150, 72, 255);
}

button {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: black;
  border-width: 2px;
  width: 2;
  height: auto;
  transition: 5s;
  background-color: rgb(255, 255, 168);
  color: rgb(255, 255, 168);
}
button:hover {
}
button:active {
  color: black;
  background-color: rgb(255, 105, 30);
  font-family: "Courier New", Courier, monospace;
  transition: 0.5s;
}
.question_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#question_bookmark {
  position: absolute;
  top: -15px;
  right: 0;
}

.picture_name {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#add_and_decrease {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.page_title {
  color: blueviolet;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  top: 5px;
  transition: 6s;
}
.page_title:hover {
  color: rgb(231, 205, 255);
  font-size: 80px;
  border: 1px solid;
  border-color: black;
  border-width: 5px;
  width: auto;
}

.navbar {
  margin-top: 10px;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  opacity: 0.2;
  transition: 3s;
}
.navbar:hover {
  opacity: 0.8;
  background-color: rgb(240, 223, 255);
}

.profile_name {
  font-size: 100px;
  color: rgba(98, 33, 66, 0.766);
}

.about_me {
  display: flex;
  justify-content: center;
  color: blanchedalmond;
  font-size: 70px;
}

.center {
  display: flex;
  justify-content: center;
}

.click_me {
  color: rgba(255, 255, 0, 0.745);
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  top: 5px;
  transition: 6s;
}
.click_me:hover {
  color: yellowgreen
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  top: 5px;
  transition: 6s;
}
