* {
  box-sizing: border-box;
  font-size: xx-large;
}
main {
  color: black;
  font-size: 100px;
  text-align: center;
  border: 5px;
  border-color: black;
}

body {
  background-color: rgba(146, 60, 161, 0.747);
}
.tag_container {
  display: flex;
  color: white;
  flex-direction: row;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: space-around;
  align-items: flex-start;
  font-size: small;
}

.navbar {
  margin-top: 10px;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  opacity: 0.2;
  transition: 3s;
}
.navbar:hover {
  opacity: 0.8;
  background-color: rgb(240, 223, 255);
}

.question__card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: black;
  border-width: 5px;
  width: 1000px;
  bottom: 50px;
  margin: 15px;
  transition: 5s;
  background-color: cornflowerblue;
  height: 300px;
}

h1 {
  color: blueviolet;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 100px;
  top: 5px;
  transition: 6s;
}
h1:hover {
  color: rgb(231, 205, 255);
  font-size: 110px;
  border: 1px solid;
  border-color: black;
  border-width: 5px;
  width: auto;
}

button {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: black;
  border-width: 2px;
  width: 2;
  height: auto;
  transition: 5s;
  background-color: rgb(255, 255, 168);
}
button:hover {
  cursor: pointer;
  background-color: darkorange;
}

.question_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button:active {
  background-color: purple;
  transition: 2s;
}

#question_bookmark {
  position: absolute;
  top: -15px;
  right: 0;
}

.question__card:hover {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 100px;
  background-color: hotpink;
}
